header.cabecalho {
    border-bottom: 1px solid var(--roxo-medio);
    padding: 10px 20px;
}

header.cabecalho .titulo{
    color: var(--dourado);
    text-align: center;
    font-family: var(--titulo);
    filter: drop-shadow(1px 2px 2px var(--dourado));
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 5px;    
}

.conteudo .navegacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.conteudo .btn {
    color:var(--dourado-claro);
    transition: all .3s;    
    border-radius: 7px;
    border: 1px solid transparent;
    font-size: 1.5rem;
    padding: 5px 30px;
    filter: drop-shadow(1px 2px 3px var(--dourado-claro));
}

.btn:disabled {
    opacity: 0.1;
    cursor: not-allowed;
}

.conteudo .btn:hover {
    border: 1px solid var(--dourado);
}

.conteudo .designacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo .titulo-semana {
    color: var(--dourado-claro);
    font-family: var(--sub-titulo);
}

.conteudo .designacao img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    height: auto;
}

footer.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: var(--titulo);
    color: var(--dourado);
    padding: 20px 40px;
    border-top: 1px solid var(--roxo-medio);
}

@media (min-width:768px) {
    footer.rodape {
        flex-direction: row;
    }
}