:root {
    --preto: #0a0a0a;
    --roxo-escuro: #230233;
    --roxo-medio: #480269;
    --dourado: #c9a84c;
    --dourado-claro: #e8c97a;
    --texto: #f0f0f0;

    --titulo:"Roboto", sans-serif;
    --sub-titulo:"Nunito", sans-serif;
}