.conteudo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav.cards {
    padding: 15px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--roxo-escuro);
}

@media (min-width:768px) {
    .conteudo .cards {
        width: 90%;
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
        flex: auto;
    }
}

.cards a {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin: 5px;
    border-radius: 7px;
    border: 2px solid var(--roxo-medio);
    background-color: var(--roxo-escuro);
    transition: all .5s;
    text-align: center;
    gap: 3px;
}

.cards a:hover {
    background-color: var(--link-ativo);
    border:  2px solid var(--roxo-escuro);
}

.cards a i {
    color: var(--dourado-claro);
    font-size: 1.5rem;
}

.cards a span.nome {
    font-family: var(--sub-titulo);
    text-transform: uppercase;
    color: var(--texto);
    font-weight: bold;
    transition: all .5s;
}

.cards a span.nome:hover {    
    color: var(--preto);
}