* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
    color: var(--texto);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
}
button {
    cursor: pointer;
    border: none;    
    background-color: transparent;
}